.nav {
    display: flex;
    grid-area: nav;
    background-color: brown;
    justify-content: flex-end;
    div {
        display: flex;
        align-content: center;
        padding-right: 115px;
        margin-top: 20px;
        padding-left: 40px;
        list-style-type: none;
        font-size: 20px;
        
        a {
            color: white;
            text-decoration: none;
        }
        a:hover {
            opacity: 0.5; // border-bottom: 2px solid wheat;
        }
        span {
            margin: 5px;
        }
    }
}

.section {
    grid-area: section;
    background-color: green;
}

.footer {
    grid-area: footer;
    background-color: red;
}

.myResume {
    display: grid;
    grid-template-areas: "nav nav" "section section" "footer footer";
    grid-template-rows: 80px 1fr 50px;
    min-height: 100vh;
}

// @media screen and (max-width: 600px){
//     .myResume{
//         grid-template-areas: "nav" "section" "footer";
//         grid-template-columns: 100%;
//         grid-template-areas: 50px 1fr 50px;
//     }
// }